/* ---------------- Universal styling ---------------- */
 #gameTextBox {
  border-style: solid;
  border-color: lightgray;
  width: 60%;
  position: fixed;
  top: 72%;
  left: 100px;
  border-radius: 10px;
  background:rgba(255,255,255,0.9);
  color: black;
  text-align: center;
}

#health {
  border-style: solid;
  border-color: lightgray;
  position: fixed;
  top: 66%;
  left: 100px;
  width: 8%;
  border-radius: 10px;
  padding: 10px;
  background:rgba(255,255,255,0.9);
  color: black;
}

.townHeader,
.forestHeader,
.mountainHeader,
.shopHeader,
.enemyHeader,
.trapHeader,
.rewardHeader {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 10%;
  left: 50%;
  padding: 20px;
  font-size: 64px;
}

.card-body {
  width: 10%;
}

#backButton {
  position: fixed;
  top: 10%;
  left: 5%;
}

.action1 {
  position: fixed;
  top: 75%;
  left: 70%;
}

.action2 {
  position: fixed;
  top: 75%;
  left: 80%;
}

.action3 {
  position: fixed;
  top: 85%;
  left: 70%;
}

.actionEscape {
  position: fixed;
  top: 85%;
  left: 80%
}

#playerLootBox {
  border-style: solid;
  border-color: lightgray;
  width: 15%;
  position: fixed;
  top: 30%;
  left: 80%;
  border-radius: 10px;
}
/* ---------------- Home page styling ---------------- */
#homePageStyle {
  border-style: solid;
  border-color: lightslategrey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 20px;
  width: 30%;
  background:rgba(255,255,255,0.7);
}

#backImg {
  height: 890px;
  width: 100%;
}

#signIn {
  margin-bottom: 10%;
}

#signIn, #register {
  text-align: center;
}


.homeInput {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}


  /* ---------------- Log Success styling ---------------- */
 #logSuccessStyle {
  border-style: solid;
  border-color: lightslategrey;
  text-align: center;
  padding: 5%;
  width: 35%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:rgba(255,255,255,0.7);
  border-radius: 20px;
   }

  #logSuccessBackground {
    height: 890px;
    width: 100%;
  }

/* ---------------- Town page styling ---------------- */
#townShopBtn {
  position: fixed;
  left: 70%;
  top: 75%;
}

#townBackground {
  width: 100%;
  height: 890px;
}


.invHeader {
  text-align: center;
}

#toggleInventory {
  position: absolute;
  left: 80%;
  top: 75%;
}

.forestDifficulty,
.mountainDifficulty {
  position: fixed;
  background:rgba(255,255,255,0.8);
  text-align: center;
}

.forestDifficulty {
  top: 35%;
  left: 25%;
}

.mountainDifficulty {
  left: 70%;
  top: 15%;
  width: 11%;
}

/* ---------------- Forest page styling ---------------- */

#forest {
  color: white;
}

#forestBackground {
  height: 890px;
  width: 100%;
}

.areaOneInfo,
.areaTwoInfo,
.areaThreeInfo {
  text-align: center;
  position: fixed;
  background:rgba(255,255,255,0.8);
  color: black;
}

.areaOneInfo {
  top: 47%;
  left: 10%;
}

.areaTwoInfo {
  top: 49%;
  left: 50%;
}

.areaThreeInfo {
  top: 55%;
  left: 75%;
}

/* ---------------- Mountain page styling ---------------- */

#mountainBackground {
  width: 100%;
  height: 890px;
}

.areaFourInfo,
.areaFiveInfo,
.areaSixInfo {
  position: fixed;
  background:rgba(255,255,255,0.8);
  text-align: center;
}

.areaFourInfo {
  top: 30%;
  left: 20%;
}


.areaFiveInfo {
  top: 45%;
  left: 45%;
}


.areaSixInfo {
  top: 25%;
  left: 70%;
}